.priceContainer{
    font-size:12px;
    border:1px solid #FC9700;
    padding: 2px 3px;
    border-radius:10px;
    color: #FC9700;
}

@media screen and (max-width: 991px) {
    .display {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .card{
        width: 18rem
    }
}